name: magalu
services:
  mysql:
    image: mysql:latest
    container_name: mysql-magalu
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: magalu_db
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin-magalu
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: 123456
    depends_on:
      - mysql

volumes:
  db_data: